<div class="tower-flex-container">
  <p class="tower-title">{{ data.title + data.id }}</p>
  <div class="percent-title">
    {{ percent + '%' }}
  </div>
  <div class="tower-status" [style.background-color]="towerStatus === 'ok' ? '#21b149ff' : 'red'">
    <!-- <mat-progress-bar color="warn" [value]="data.value/25"></mat-progress-bar> -->
  </div>
  <svg width="200" height="500">
    <defs>
      <linearGradient id="gradientFill">
        <stop offset="0" stop-color="#616166" />
        <stop offset="31%" stop-color="#9B9B9B" />
        <stop offset="100%" stop-color="#48484F" />
      </linearGradient>
    </defs>

    <line x1="77" x2="124" y1="4" y2="4" class="line" />

    <rect x="32" y="16" width="137" height="92" fill="url(#gradientFill)" />
    <rect x="32" y="118" width="137" height="92" fill="url(#gradientFill)" />
    <rect x="32" y="220" width="137" height="92" fill="url(#gradientFill)" />
    <rect x="32" y="322" width="137" height="92" fill="url(#gradientFill)" />
    <polygon id="bottom-polygon" points="92,500 32,424 169,424 108,500" fill="url(#gradientFill)" />
    <rect #indicator width="118" x="42" y="17" height="395" class="indicator" [class.bounce]="towerStatus === 'warn'" />
    <rect x="23" y="9" width="155" height="4" class="thin-rect" />
    <rect x="23" y="111" width="155" height="4" class="thin-rect" />
    <rect x="23" y="213" width="155" height="4" class="thin-rect" />
    <rect x="23" y="315" width="155" height="4" class="thin-rect" />
    <rect x="23" y="417" width="155" height="4" class="thin-rect" />
  </svg>

  <p class="tower-title bottom-tower-title">
    Масса карналита
  </p>
  <p class="carnallite-mass">
    {{carnalliteMass}}
  </p>
  <div class="tower-status" [style.background-color]="towerStatus === 'ok' ? '#21b149ff' : 'red'">
    <!-- <mat-progress-bar color="warn" [value]="data.value/25"></mat-progress-bar> -->
  </div>
  <button mat-button (click)="plusDataValue()">+ Value</button>
  <button mat-button (click)="minusDataValue()">- Value</button>

</div>
